* {
    scrollbar-width: thin;
    scrollbar-color: #038C7F #012626;

}

*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: #012626;
}

*::-webkit-scrollbar-thumb {
    background-color: #038C7F;
    border-radius: 20px;
    border: 2px solid #012626;
}

header{
    background-color: #012626;
}
.header{
    display: flex;
    height: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header h2{
    width: 256px;
    height: 42px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #04BFAD;
    margin: 0 0 0 30px;
    cursor: pointer;
}
.nav-header > a{
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0  0 0 50px;
}
.nav-header > a:hover{
    color: #04BFAD;
}