.main{
    display: flex;
    color: #fff;
    margin: 100px 0 0 0;
    justify-content: space-between;
}
.main-left h3{
    width: 208px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
}

.main-left h2{
    width: 475px;
    height: 78px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 78px;
}

.main-left .main-description{
    width: 475px;
    height: 83px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}
.main-buttons{
    display: flex;
    margin: 30px 0;
}
.main a{
    text-decoration: none;
}
.btn-download-cv{
    display: flex;
    padding: 12px 25px;
    color: white;
    background: #038C7F;
    border: 1px solid #038C7F;
    border-radius: 8px;
    align-items: center;
    margin: 0 26px 0 0;
    cursor: pointer;
    font-weight: 400;
}
.btn-download-cv:hover{
    box-shadow:  5px 5px 10px #01211e,
                -5px -5px 10px #015f56;
}
.btn-download-cv img{
    margin: 0 0 2px 6px;    
}
.btn-projetos{
    display: flex;
    align-items: flex-start;
    padding: 12px 34px;
    gap: 5px;
    border: 2px solid #038C7F;
    background-color: transparent;
    border-radius: 8px;
    color: #fff;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
}
.btn-projetos:hover{
    box-shadow:  5px 5px 10px #01211e,
                -5px -5px 10px #015f56;
}

/*VECTOR ANIMADO - MAIN*/ 

.main-img-hero{
    transform:  translatey(0px);
    animation: flutuar 2s ease-in-out infinite;
}
@keyframes flutuar{
    0%{
        transform: translatey(0px);
    }
    50%{
        transform: translatey(-30px);
    }
    100%{
        transform: translatey(0px);
    }
}

/*FIM DA MAIN HERO*/
.main-end{
    background-color: #012626;
    width: 100%;
    height: 128px;
    margin: 15px 0 50px 0;
}

/*Sobre mim and competencias*/
.main-sobre-mim-perfil{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.main-sobre-mim-perfil img{
    background: url(oswalddddo-edit.png);
    border-radius: 50px;    
}
.main-sobre-mim h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #038C7F;
}

.main-sobre-mim p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
    color: #FFFFFF;
    margin: 0 0 40px 0;
    width: 477px;
    height: 288px;
    margin: 25px 0 0 0;
}
.main-competencias{
    margin: 30px 0 0 0;
}
.main-competencias h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #038C7F;
}
.main-competencias p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
    color: #FFFFFF;
}


/*BOTAO DE COMPETENCIAS*/
.competencias{
    margin: 580px 0;
}
.competencias-section{
    display: grid;
    grid-template-columns: 3fr 3fr 0fr;
    margin: 60px 0;
}
.card-competencias-section{
    width: 256px;
    height: 256px;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    background: linear-gradient(145deg, #01443e, #013a34);
    box-shadow:  5px 5px 10px #01211e,
                -5px -5px 10px #015f56;
}
.card-competencias-section:hover{
    transition: 0.8s;
    background-color: #038C7F;
    border: none;
    border-radius: 20px;
    background: #01403A;
    box-shadow: inset 5px 5px 8px #01211e,
                inset -5px -5px 8px #015f56;
                
}

.card-competencias-section img{
    display: flex;
    align-items: start;
    margin: 0 0 0 28px;
}
.designer h2{
    width: 116px;
    height: 77px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    align-content: start;
    color: #FFFFFF;
    text-align: start;
    margin: 10px 0 0 28px;
}
.desenvolvimento-web h2{
    width: 231px;
    height: 77px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: start;
    margin: 10px 0 0 13px;
}
.excel h2{
    width: 133px;
    height: 77px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: start;
    margin: 10px 0 0 28px;
}

/*cards de servicos*/
.card-design{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    gap: 15px;
    margin: 0 0 60px 0;
}
.desenvolvimento-web-card{
    display: none ;
    grid-template-columns: 3fr 3fr 3fr;
    gap: 15px;
    margin: 0 0 60px 0;
}
.excel-card{
    display: none;
    grid-template-columns: 3fr 3fr 3fr;
    gap: 15px;
    margin: 0 0 60px 0;
}
.card-servicos-design{
    display: flex;
    flex-direction: column;
    width: 341px;
    height: 338px;
    border: 3px solid #fff;
    border-radius: 15px;
    align-items: center;
    text-align: justify;
}
.card-servicos-design:hover{
    transition: 0.2s;
    border: 3px solid #038C7F;
    box-shadow:  5px 5px 10px #01211e,
                -5px -5px 10px #015f56;
}
article img{
    width: 60px;
    height: 60px;
    margin: 70px 0 5px 0;
}
article h2{
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 185%;
}
article p{
    width: 350px;
    padding: 0 22px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin: 15px 0 0 0;
}

/*Formaçoes academicas*/
.formacao-main h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #038C7F;
}
.formacao-main-sobre p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
    color: #FFFFFF;
}


.formacao-main-envelopar{
    position: absolute;
}
.formacao-main-linha-1,.formacao-main-linha-2, .formacao-main-linha-3,.formacao-main-linha-4{
    position: relative;
    width: 86px;
    height: 0px;
    left: -28px;
    top: 65px;
    border: 2px solid #012626;
    transform: rotate(89.71deg);
}
.formacao-main-bola-1, .formacao-main-bola-2, .formacao-main-bola-3, .formacao-main-bola-4{
    position: relative;
    width: 30px;
    height: 30px;
    left: 0px;
    top: 25px;
    border: 4px solid #012626;
    border-radius: 100%;
}

.formacao-main-cursos{
    padding: 15px 0 0 60px;
}
.formacao-main-cursos h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 48px;
    color: #FFFFFF; 
}

.formacao-main-cursos p{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}
.formacao-main-cursos li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

}